[Unit]
Description=Daily Sched
After=network.target mysql_server.target

[Service]
Type=simple
User=nobody
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/python3 /home/ken/ken-workspace/code/Python-Prj/daily_routine/daily_sched.py

[Install]
WantedBy=multi-user.target